<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CanceledAppointmentUpdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CanceledAppointmentUpdate.Properties.Settings>
            <setting name="CanceledAppointmentUpdate_AppointmentScheduling_AppointmentScheduling"
                serializeAs="String">
                <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.AppointmentScheduling.cls</value>
            </setting>
            <setting name="CanceledAppointmentUpdate_UserManagement_WebServices"
                serializeAs="String">
                <value>http://avprdb2:8972/csp/hmhcpmlive/WEBSVC.UserManagement.cls</value>
            </setting>
            <setting name="CanceledAppointmentUpdate_PractitionerRegister_WebServices"
                serializeAs="String">
                <value>http://avtest:8972/csp/hmhcpmlive/WEBSVC.PractitionerRegister.cls</value>
            </setting>
        </CanceledAppointmentUpdate.Properties.Settings>
    </applicationSettings>
</configuration>